body {
  font-family: Arial, Helvetica, sans-serif;
}
.bg-dark {
  background-color: #131921 !important;
}
.bg-light-dark {
  background-color: #222f3e;
  color: white;
}
.form-inline {
  width: 80%;
}
.font-12 {
  font-size: 14px;
}
.navbar .form-inline .form-control {
  width: 80%;
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  color: white !important;
}
.nav-link:last-of-type {
  position: relative;
}

.nav-link:last-of-type i {
  font-size: 1.5rem;
}
.nav-link:last-of-type span {
  position: absolute;
  bottom: 0;
}

#price input {
  width: 50%;
}

.filters-group h6 {
  font-weight: 600;
}
.form-check .form-check-input:checked ~ .form-check-label::before {
  background-color: black !important;
}

.book-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.book-title {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.book-category {
  font-size: 12px;
  font-weight: 400;
  color: #565959;
}
.book-price {
  font-weight: 600;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dd760a;
  font-size: 14px;
  color: white;
  width: 110px;
  height: 28px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 20px;
  transform: translateX(110px);
  transition: transform 0.3s;
  cursor: pointer;
}

.book-card:hover .add-to-cart {
  transform: translateX(0);
}
.cart-book img {
  width: 60px;
}
.cart-book div {
  width: 60%;
}

.remove-btn {
  font-style: italic;
  color: #565959;
  font-size: 14px;
  cursor: pointer;
}
